<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image">

            <img src="assets/images/PA.jpg" alt="" height="680px" style="margin-left: -15px; margin-right: -15px;">


        </div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">

                            <img src="assets/images/computer.png" alt="user" style="width: 150px; height: 150px; margin-left: 120px; ">
                            <h3 style="font-family: Cambria,Georgia,serif; ">Espace Formateur</h3>

                            <form>
                                <div class="form-group mb-3">
                                    <input id="inputEmail"  #stgEmail type="email" placeholder="Adresse e-mail" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" #stgPassword type="password" placeholder="Mot de passe" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>

                                <button type="submit"  (click)="authService.SignIn_F(stgEmail.value, stgPassword.value)"class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">se connecter</button>
                                <button type="submit"(click)="authService.GoogleAuth_F()" class="btn btn-danger btn-block text-uppercase mb-2 rounded-pill shadow-sm"><i class="fab fa-google mr-2"></i>  Compte professionne</button>

                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
