<section class="header">

  <div class="container-fluid text-centre">

    <div class="row">

      <div class="col-md-2 text-center">
        <div class="info">
          <div class="image1">
            <img src="assets/images/P.png" width="80px" height="auto" style="padding-top: 10px;">
            <h4 style="margin-top: 10px"> ADMIN <br> </h4>
          </div>

          <button routerLink="/gestionnaire/dashboard" class="btn btn-dark " style=" margin-top: 30px;"> <i class="fas fa-tachometer-alt" ></i>  &nbsp;  tableau de bord</button>
          <button routerLink="/gestionnaire/ajoute/stagiaire" class="btn btn-dark " ><i class="fa fa-address-card"></i> &nbsp; Ajouter stagiaire</button>
          <button routerLink="/gestionnaire/ajoute/formateur" class="btn btn-dark " ><i class="fa fa-address-card"></i>&nbsp;Ajouter Formateur</button>
          <button routerLink="/gestionnaire/notes/stagiaire" class="btn btn-dark "><i class="fa fa-plus" aria-hidden="true"></i>   &nbsp; &nbsp;     Ajouter Notes</button>
          <button routerLink="/gestionnaire/liste/stagiaire" class="btn btn-dark "><i class="fa fa-list-ul" ></i>  &nbsp;&nbsp;&nbsp;&nbsp;   Liste stagiaires</button>
          <button routerLink="/gestionnaire/liste/formateur" class="btn btn-dark "><i class="fa fa-list-ul" ></i> &nbsp; Liste Formateurs</button>
          <button routerLink="/gestionnaire/liste/Reclamtions" class="btn btn-dark "><i class="fa fa-list-ul" ></i>&nbsp;Liste Reclamations</button>
          <button routerLink="/gestionnaire/resultats/stagiaires" class="btn btn-dark "><i class="fa fa-list-ul" style="padding-right: 25px;" ></i>&nbsp;Liste Résultats</button>
          <button routerLink="/gestionnaire/emploi/stagiaire" class="btn btn-dark "><i class="fa fa-calendar"></i> &nbsp;  Emploi du temps</button>
        </div>

      </div>

      <div class="col-md-8 my-4">

        <div class="inforamtons">
          <h3><i class="fas fa-tachometer-alt" style="font-size: 32px ; padding-left: 20px;"></i>&nbsp;Tableau de bord</h3>
          <hr />
        

          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
          <div class="container">
             <div class="row">
              <div class="col-md-4">
                <div class="card-counter primary">
                  <i class="fa fa-users"></i>
                  <span class="count-numbers">{{i}}</span>
                  <span class="count-name">Stagiaires</span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card-counter success">
                  <i class="fa fa-users"></i>
                  <span class="count-numbers">{{ f }}</span>
                  <span class="count-name">Formateurs</span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card-counter info">
                  <i class="fa fa-users"></i>
                  <span class="count-numbers">1</span>
                  <span class="count-name">Administrateurs</span>
                </div>
              </div>
              
            </div>
          </div>
          


         

        </div>
      </div>

      <div class="col-md-2 text-center">
        <div class="info2">
          <div class="modal-body">


          </div>

        </div>

      </div>

    </div>


  </div>


</section>