<section class="header">

  <div class="container-fluid text-centre">

    <div class="row">

      <div class="col-md-2 text-center">
        <div class="info">
          <div class="image1">
            <img src="assets/images/P.png" width="110" height="auto">
            <h3 style="margin-top: 10px"> Bienvenue,<br>Amchikak Hassan </h3>
          </div>
          <button routerLink="/stagiaire" class="btn btn-light " style=" margin-top: 30px;"><i class="fa fa-address-card"></i> &nbsp;Profil Pesrsonnel</button>
          <button routerLink="/stagiaire/emploi"  class="btn btn-light "><i class="fa fa-calendar"></i>&nbsp;Emploi du temps</button>
          <button  routerLink="/stagiaire/resultats" class="btn btn-light "> <i class="fas fa-file-alt"></i> &nbsp;Résultats</button>
          <button  class="btn btn-light "><i class="fas fa-archive"></i>&nbsp;&nbsp;&nbsp;&nbsp; Documaents</button>
        </div>

      </div>

      <div class="col-md-8"><br><br>

        <div class="rec" style="margin-left: 30px;margin-right: 30px;">
          <h5><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Liste Reclamations </h5>
          <hr>



        </div>

        <div class="help"><img src="assets/images/information .png" width="60" height="60"></div>

      </div>


      <div class="col-md-2 text-center">
        <div class="info2">
          <div class="modal-body">


          </div>

        </div>

      </div>

    </div>


  </div>


</section>
